<div class="warpper">
    <div style="text-align: right;margin-bottom: 30px;">
        <button class="btn btn-primary btn-lg" style="margin-right: 20px;
        margin-top: 20px;" (click)="goBack()">Back</button>
    </div>
    <div style="text-align: center">
        <h1  style="font-size: 3.4rem">This is a Demo Application</h1>
    </div>
    
</div>

<div class="card" style="width: 34rem;text-align: center;margin: 108px auto;">
    <div class="card-body">
      <h2 class="card-title">RAJAT PATODI</h2>
      <hr>
      <h4 class="card-subtitle mb-2 text-muted">First Year Student at <b>IIT Guwahati</b></h4>
      <ul style="list-style: none">
        <li><h5>Roll No. : <b>210122042</b></h5></li>
        <li><h5>Branch : <b>Chemical Science And Technology</b></h5></li>
    </ul>
    </div>
  </div>